html {
    background-color: olivedrab;
}
h1{
    margin: 0;
    text-shadow: 2px 5px 10px palegoldenrod;
}
p {
    color:red;
}
ul {
    color:red;
}
img {
    margin: 0 auto;
}
a:hover {
    color:salmon;
    background-color: seagreen;
}